.flag-quiz-header{
  max-width: 97vw;
  padding-top: min(25px,4vh);
  font-size: min(3.8vw, 20px);
  color: var(--txt-color-2);
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.flag-quiz-title{
  min-width: fit-content;
}

.flag-quiz-exit-container, .flag-quiz-score-container{
  width: min(45vw, 310px);
}

.flag-quiz-exit{
  padding: 1px 4px 1px 3px;
  color: var(--txt-color-2);
  text-decoration: none;
}

.flag-quiz-exit-icon{
  border-radius: 3px;  
  padding-right: 2px;
  font-size: 27px;
  color: var(--txt-color-1);
  background-color: var(--bg-color-2);
  transition: all;
  transition-duration:0.15s;

  &:hover{
    box-shadow: 0 0 3px 3px var(--shadow);
    background-color: var(--bg-color-2-slightly-darker);
  }
}

.flag-quiz-score-container{
  text-align: end;
}

.flag-quiz-outer-container{
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.flag-quiz-next-button-container{
  display: flex;
}

.flag-quiz-next-button{
  width: fit-content;
  margin: 5px;
  padding: 5px 7px 5px 7px;
  border-radius: 5px;
  outline: 3px solid var(--highlight-4);
  color: var(--txt-color-2);
  background-color: var(--highlight-4-light);
  display: flex;
  flex-direction: row;  
  align-items: center;
  cursor: pointer;

  &.hide{
    display: none;
  }
  &:hover{
    outline-width: 4px;
    box-shadow: 0 0 5px 1px var(--shadow);
  }
}

.flag-quiz-next-arrow{
  font-size: 18px;
  padding-left: 5px;
}