@import "index.scss";

.home-container{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.home-welcome-card{
  display: flex;
  flex-direction: column;
  align-self: center;
  text-align: center;
  color: var(--txt-color-2);
  width: 100%;
}
