:root {
  --bg-color-1: white;
  --bg-color-2: #555555;
  --txt-color-1: white;
  --txt-color-2: black;
  --border-color: red;
  --highlight-1: green;
  --highlight-2: blue;
  --box-color: rgb(167, 118, 167);
  
  background-color: var(--bg-color-1);
  color: var(--txt-color-1);

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin: 0;

  /* TODO: Review the options below */  
  //color-scheme: light dark;
  //font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
}

body{
  margin: 0;
}

