:root {
  --bg-color-1: white;
  --bg-color-1-slightly-darker: #dfdede;

  --bg-color-2: #555555;
  --bg-color-2-light: #55555571;
  --bg-color-2-slightly-darker: #4c4c4c;

  --txt-color-1: white;
  --txt-color-2: black;
  --highlight-1: #5cda42;
  --highlight-2: #3e83fb;
  --highlight-3: #ff5925;
  --highlight-4: #fff240;
  --highlight-5: #ff2e2e;
  --highlight-1-light: #5bda4263;
  --highlight-2-light: #3e83fb63;
  --highlight-3-light: #ff582550;
  --highlight-4-light: #fff24063;
  --highlight-5-light: #fd5c5c9a;

  --border-color: #ff5925;
  --box-color: #a776a7;
  --shadow: #cecece;
  background-color: var(--bg-color-1);
  color: var(--txt-color-1);

  font-family: Arial, Inter, system-ui, Avenir, Helvetica, sans-serif;
  margin: 0;
  min-width: 200px;
  /* TODO: Review the options below */  
  //color-scheme: light dark;
  //font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
}

body{
  margin: 0;
}

