.multiple-choice-container{
  width: clamp(290px, 94vw, 620px);
}

.multiple-choice-image-outer-container{
  height: clamp(193px, 62.5vw, 250px);
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.multiple-choice-image-inner-container{
  height: clamp(193px, 62.5vw, 350px);

  display: flex;
  justify-content: center;
  align-items: center;
}

.multiple-choice-flag-image{ 
  height: 60%;
  width:auto;
  
  &.loaded{
    box-shadow: 0 0 8px 5px var(--shadow);
  }
} 

.multiple-choice-answer-container{
  display: grid;
  grid-template-columns: auto auto;
}

.multiple-choice-button{
  height: clamp(40px, 13vh, 120px);
  width: clamp(140px, 45vw, 300px);
  margin: clamp(0px, 1vw, 5px);
  
  font-size: min(3vh, 30px);  
  border-radius: 5px;
  overflow: hidden;
  color: var(--txt-color-2);
  cursor:initial;
  
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  outline: 1px solid var(--highlight-2);
  background-color: var(--highlight-2-light);

  &.correct{
    outline: 3px solid var(--highlight-1);
    background-color: var(--highlight-1-light);
  }
  &.incorrect{
    outline: 3px solid var(--highlight-5);
    background-color: var(--highlight-5-light);
  }
  &.active:hover{
    outline-width: 3px;
    cursor: pointer;
  }
}
