@import "index.scss";

.multiple-choice-container{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.home-welcome-card{
  display: flex;
  flex-direction: column;
  color: var(--txt-color-2);
  width: 100%;
  padding-top: 10vh;
}

.multiple-choice-answer-container{
  display: grid;
  grid-template-columns: auto auto;
  width: clamp(fit-content, 800px);
}

.multiple-choice-button{
  color: var(--txt-color-2);
  font-size: min(4.5vw, 25px);

  height: clamp(80px, 30vw, 120px);
  width: clamp(140px, 45vw, 300px);
  margin: 5px;

  border-radius: 5px;
  outline: 1px solid;
  
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.multiple-choice-button:hover{
  outline-width: 5px;
  cursor: pointer;
}

.multiple-choice-button:nth-child(1){
  outline-color: var(--highlight-1);
  background-color: var(--highlight-1-light);
}

.multiple-choice-button:nth-child(2){
  outline-color: var(--highlight-3);
  background-color: var(--highlight-3-light);
}

.multiple-choice-button:nth-child(3){
  outline-color: var(--highlight-2);
  background-color: var(--highlight-2-light);
}

.multiple-choice-button:nth-child(4){
  outline-color: var(--highlight-4);
  background-color: var(--highlight-4-light);
}
