@import "index.scss";

.multiple-choice-outer-container{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.multiple-choice-title{
  color: var(--txt-color-2);
  text-align: center;
  font-size: min(4.5vw, 25px);
  padding-top: 10px;
  padding-bottom: 5px;
}

.multiple-choice-question{
  color: var(--txt-color-2);
}

.multiple-choice-image-outer-container{
  border: 1px solid green;
  height: clamp(193px, 62.5vw, 350px);
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.multiple-choice-image-inner-container{
  border: 1px solid red;
  height: clamp(193px, 62.5vw, 350px);
  width: 80%;
  display: flex;
  justify-content: center;
}

.multiple-choice-flag-image{
  height: 100%;
  width: 100%;
  object-fit: scale-down;
}

.multiple-choice-inner-container{
  width: clamp(290px, 94vw, 620px);
  border: 1px solid black;
}

.multiple-choice-answer-container{
  display: grid;
  grid-template-columns: auto auto;
}

.multiple-choice-button{
  color: var(--txt-color-2);
  font-size: min(3vh, 25px);

  height: clamp(80px, 15vh, 120px);
  width: clamp(140px, 45vw, 300px);
  margin: clamp(0px, 1vw, 5px);

  border-radius: 5px;
  outline: 1px solid;
  
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.multiple-choice-button:hover{
  outline-width: 5px;
  cursor: pointer;
}

.multiple-choice-button:nth-child(1){
  outline-color: var(--highlight-1);
  background-color: var(--highlight-1-light);
}

.multiple-choice-button:nth-child(2){
  outline-color: var(--highlight-3);
  background-color: var(--highlight-3-light);
}

.multiple-choice-button:nth-child(3){
  outline-color: var(--highlight-2);
  background-color: var(--highlight-2-light);
}

.multiple-choice-button:nth-child(4){
  outline-color: var(--highlight-4);
  background-color: var(--highlight-4-light);
}
