#root {
  display: flex;
  min-height: 100vh;
}

.test-card {
  align-self: center;
  text-align: center;
  width: 100%;
}

.test-button { 
  align-self: center;
  text-align: center;
  width: fit-content;
}